version: 1
file: portal/.env.example
recipients:
- name: sid-med
  role: developer
  wrapped_key: |
    -----BEGIN AGE ENCRYPTED FILE-----
    YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB5SjVCb2hvZE5SdnF0RGRq
    M2VpL0dSdTB5bGpkVHkwYWlJT3E4REpYcGdzCkoxSzNLUnhaSlZyelNta3lteEYr
    QlNaSzZFMmprMkdKbXM2a0hOMnVSRjgKLT4gVj0tZ3JlYXNlICN0OnJnLS13IEwK
    MjNBdXl2QUdLeWM2MFZjSHcwZ0pHdnJ4MlcwCi0tLSBmeGh0aXJCRUJ0SExVcG9v
    TWdXYUd0ZWxRWFc3bTNjalZ4RUF5MDczZlZ3Ch2R/XFum69KmSVVsHsrbcwFlGVN
    OQxj4BJ5Awj+J7sEWqqDBdhb7F3A2bRMVQ5C1Ig3f/0mR958JbkHB28VI7Y=
    -----END AGE ENCRYPTED FILE-----
- name: ci-runner
  role: ci
  wrapped_key: |
    -----BEGIN AGE ENCRYPTED FILE-----
    YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBIV1B2Q2ZyZTVKSHNzNzdp
    QU5GWmJkYkd2bFlSMWVBTnhOVzJkaUZtY1g4CjM5Z0J4SXdPcmZZL0tVdy9qNDVa
    dFY1M214b0x6T2RzYkszeTZXM2dJdWcKLT4gNDFhLS1ncmVhc2UKVVMxaWRIdDlU
    V3EwckhjYmowdXpZTlV1dTJTWlRWZzdJejhhc0dDazA5ME1aYUMwdlhmK0taMVRl
    K3BEVFNIVgptQllXaE01QUhRU3VuV1hMMmNucQotLS0gWm9BYTdlckI0ZE1zRzBv
    a0dmZW5HdjU4ZEFmZkprK0hYNk51WWsxd0s1UQpZeIK1SKtZ8JBu+b4fqC7wK5cN
    yIiILsu9ge4GzZh8lKbUaUc5HVljE7gXlnTB2oT2o86hFAQbC5G2/H9r9YcN
    -----END AGE ENCRYPTED FILE-----
- name: admin-server
  role: admin
  wrapped_key: |
    -----BEGIN AGE ENCRYPTED FILE-----
    YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA0QjZRUEpYSEpldWhqdmNx
    MU1ZeFdwSlhNaXd5N0J0SGlxekd1MFp4bUJzCnRTanVoYVVyQnZ2b21zbE1ybUJZ
    Sng2S3U1TWYrMUhKV2FRUXhySUFpS28KLT4gZS1ncmVhc2UgeVoiUiA8OyBXKS0K
    UlBSRjlRelJITSs4RUZ1WlZHNGM0K1lHNjltTEVlOGcwbTRBaGlwU2hPaDJ1bE5S
    RzZMdTlNdTYxdDU5amFOUgp4VHAvL2dwc2RGZm5KZ3QvRndwVVZzeWcydmdqclhS
    V05IZlMKLS0tIEVkallFekNXT1ZXakNRa3owTVhNR2owRFNxV0QyK2xoSGV6NitZ
    Q2RQYVEKa+kkD7iOboIaNVQd0Cga4j+B8yG4uTZDRqJQatHacGw5CA7t/XZA6SzS
    Qf2uFsq6czfOLl1T74MP3zRIBvImXQ==
    -----END AGE ENCRYPTED FILE-----
